body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    border: 1px red solid;

}


.header-container{
    width: 100%;
}

.sidebar-container{
    margin: 0;
    height: 92vh;
    width: 15vw;
    border: 1px red solid;
}

.section{
    margin: 0;
    width: 84.5vw;
    border: 1px dashed red;
}

.network-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 50vw;
    border: 1px dashed blue;
}